.hero {
  background-color: rgba($color: #000, $alpha: 0.3);
  min-height: 27rem;
  overflow-y: hidden;

  &__title {
    text-shadow: 0 0 5px #000;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    line-height: 1.4em;
    text-shadow: 0 0 5px #000;
  }
}